
.all-cards-section{
    flex-wrap: wrap;
}

.cards-list{
    list-style-type: none;
    width: 100vw;
}

.warning{
    color: red;
    font-size: 25px;
    margin-top: 5px;
}

.warning-container{
    display: flex;
    justify-content: center;
    align-items: center;
}